// 定义系统中颜色相关的变量
// 黑暗主题的背景色
$dark-bg-color: #121212;
$light-bg-color: #fff;

// hover 背景色
$hover-default-color: #08AEEA linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); // 默认主题的颜色
$hover-dark-color: #242424; // 暗黑主题的颜色